/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button ,
form{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close,
#signup-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/


.header marquee {
  width: 100%;
  padding: 10px;
  background-color: #113e67;
  color: white; 
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: #113e67;
  font-weight: var(--font-semi-bold);
  transition: color .4s;
  font-size: 24px;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is( .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}
.nav__link:hover{
  border-bottom: 3px solid #113e67;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}
a.nav_logo{
  color: #113e67;
}
/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}


/*main*/

main{
  max-width: 1100px;
  margin:auto;
}

main h1{
    margin-top:160px;
}
main p{
    width: 320px;
    margin-bottom: 70px;
}
.categories {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.categories ol{
    list-style: none;
    display: flex;
    gap: 10px;
}
.categories li{
    border: 2px solid #191b24;
    padding: 6px 14px;

}
.categories li:hover{
    background-color: #113e67;
    color:#ffffff;
    transition: all 200ms ease-in-out;
}

.dropbtn {
    background-color: var(--body-color);
    color: var(--text-color);
    padding: 6px 14px;
    border: none;
    border: 2px solid #191b24;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.boxes img{
    width: 220px;
    border-bottom: 5px solid #113e67;
}
.boxes h3{
    margin-top: 10px;
}
.boxes{
  margin: 0;
  width: 220px;
}


/*===============Profile Image===============*/



/* FOOTER */
.footer.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	justify-content: space-between;
}
ul{
	list-style: none;
}
.footer{
	background-color: #191b24;
    padding: 60px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ca9263;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 12px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@media(max-width: 767px){
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    margin-top: 20px;
    gap: 20px;
  }

  .right {
    margin-top: 20px;
  }

  main p {
    margin: 30px auto;
    max-width: 80%; 
  }
}

@media(max-width: 574px){
  main h1 {
    font-size: 32px; /
  }

  .main {
    margin: 0 20px; 
  }

  .shopnow {
    padding: 8px 20px; 
  }

  main img {
    width: 250px; 
  }

  .mockups ol {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
  }
}


/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close,
  #signup-close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}
/* Add these styles for the Edit Profile form */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    
   margin-top: 140px;
}
form img{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
form#editProfileForm {
    max-width: 600px;
    margin: 50px auto;
    width: 100%;
    padding: 2rem;
 
}

form#editProfileForm h2 {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: 1.5rem;
    text-align: center;
}

form#editProfileForm label {
    font-weight: var(--font-medium);
    margin-bottom: 0.5rem;
    display: block;
}

form#editProfileForm input,
form#editProfileForm textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
}

form#editProfileForm button {
    background-color:  #113e67;
    color: var(--body-color);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid #113e67;
}

form#editProfileForm button:hover {
    background-color: darken(var(--first-color), 10%);
    color: #113e67;
    border: 1px solid #113e67;
}



.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensure loader appears on top of other content */
}
.loader {
width: fit-content;
height: fit-content;
display: flex;
align-items: center;
justify-content: center;
}

.truckWrapper {
width: 200px;
height: 100px;
display: flex;
flex-direction: column;
position: relative;
align-items: center;
justify-content: flex-end;
overflow-x: hidden;
}
/* truck upper body */
.truckBody {
width: 130px;
height: fit-content;
margin-bottom: 6px;
animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
0% {
  transform: translateY(0px);
}
50% {
  transform: translateY(3px);
}
100% {
  transform: translateY(0px);
}
}
/* truck's tires */
.truckTires {
width: 130px;
height: fit-content;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 10px 0px 15px;
position: absolute;
bottom: 0;
}
.truckTires svg {
width: 24px;
}

.road {
width: 100%;
height: 1.5px;
background-color: #282828;
position: relative;
bottom: 0;
align-self: flex-end;
border-radius: 3px;
}
.road::before {
content: "";
position: absolute;
width: 20px;
height: 100%;
background-color: #282828;
right: -50%;
border-radius: 3px;
animation: roadAnimation 1.4s linear infinite;
border-left: 10px solid white;
}
.road::after {
content: "";
position: absolute;
width: 10px;
height: 100%;
background-color: #282828;
right: -65%;
border-radius: 3px;
animation: roadAnimation 1.4s linear infinite;
border-left: 4px solid white;
}

.lampPost {
position: absolute;
bottom: 0;
right: -90%;
height: 90px;
animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
0% {
  transform: translateX(0px);
}
100% {
  transform: translateX(-350px);
}
}


.logout-link .logout-text {
  display: none;
  margin-left: 8px; 
}

.logout-link:hover .logout-text {
  display: inline;
}