/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  box-sizing: border-box;
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close,
#signup-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/
.header marquee {
  width: 100%;
  padding: 10px;
  background-color: #113e67;
  color: white; 
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: #113e67;
  font-weight: var(--font-semi-bold);
  transition: color .4s;
  font-size: 24px;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is( .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}
.nav__link:hover{
  border-bottom: 3px solid #113e67;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}
a.nav_logo{
  color: #113e67;
}
/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form, 
.login__group {
  display: grid;
}
.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.20rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .6s;

}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}
.login img{
  width: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}
.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: #113e67;
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
  
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
  background-color: #114a81;
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

/*main*/

main img{
  max-width: 350px;
  height: auto;
}
main{
  max-width: 1120px;
  margin: 140px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main h3{
  font-size: 24px;
}
/*Star*/
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
    font-size: 75px;
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating > input:checked ~ label {
    color: #ffa723;
  }
  
  
  
  

/* FOOTER */
.footer.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	justify-content: space-between;
}
ul{
	list-style: none;
}
.footer{
	background-color: #191b24;
    padding: 60px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ca9263;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 12px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #0048ff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@media(max-width: 767px){
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    margin-top: 20px;
    gap: 20px;
  }

  .right {
    margin-top: 20px;
  }

  main p {
    margin: 30px auto;
    max-width: 80%; 
  }
}

@media(max-width: 574px){
  main h1 {
    font-size: 32px; /
  }

  .main {
    margin: 0 20px; 
  }

  .shopnow {
    padding: 8px 20px; 
  }

  main img {
    width: 250px; 
  }

  .mockups ol {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
  }
}


/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close,
  #signup-close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

.signup {
  
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  display: none;
  position: fixed;
  z-index: var(--z-modal);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  
}

.signup-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 22%;
}
.signup h1{
  color: #113e67;
}
.signup img{
  width: 250px;
  margin: 0 auto;
}

.row1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 15px;
}

.signup-content{
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.20rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .6s;
}

.signup__group {
  row-gap: 1rem;
}

.signup-form {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.signup-form input{
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: .5rem;
  color: var(--text-color);
}

.signup-form input::placeholder {
  color: var(--text-color);
}
.signup-form button {
  display: inline-block;
  background-color: #113e67;
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.signup-form button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
  background-color: #114a81;
}

/* Show sign-up */
.show-signup {
  display: grid;
}

/* For small devices */
@media screen and (max-width: 767px) {
  .signup-content {
    width: 80%; /* Adjust width for smaller screens */
    margin: 29% auto; /* Center the modal vertically */
    padding: 20px;
  }
}

/* For extra small devices */
@media screen and (max-width: 574px) {
  .signup-content {
    width: 90%; /* Adjust width for even smaller screens */
  }
}


/* recaptcha */
.g-recaptcha{
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
}






 
  /* faq */

  
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: hsl(230, 100%, 98%);
    border-radius: 2.5rem;
    min-width: 33rem;
    max-width: 1120px;
    margin: 0 2.5rem 6rem;
    padding: 0 2.3rem 4.8rem;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 24rem;
  }
  
  .card__box {
    display: none;
  }
  
  .card__img {
    position: relative;
  }
  
  .card__img-mobile {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    display: block;
    width: 100%;
    height: auto;
    max-width: 24rem;
  }
  
  .card__img-desktop {
    display: none;
  }
  
  .card__text {
    margin-top: 12.9rem;
  }
  
  h1 {
    margin: 0;
    padding-bottom: 1.5rem;
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
    color: var(--textBlue);
    margin-top: 40px;
  }
  @media screen and (max-width: 891px) {
    h1 {
      margin-bottom: 150px;
    }
  }
  .accordion__item {
    border-bottom: 0.1rem solid var(--dividerGray);
    font-size: 16px;
  }
  

  button.accordion__title{
    font-size:18px;
  }
  .accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.45rem 0.5rem;
    border: none;
    background: none;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    color: var(--textVeryDarkBlue);
    text-align: left;
    transition: all 300ms ease-in-out;
  }
 
  .accordion__title:focus,
  .accordion__title:focus-visible {
    z-index: 3;
    outline: solid #113e67;
    box-shadow: 0 0 0.1rem 0.1rem #113e67;
    border-radius: 0.3rem;
  }
  
  .accordion__title:hover {
    cursor: pointer;
    color: #113e67;
  }
  
  .accordion__title::after {
    content: "";
    display: block;
    width: 1rem;
    height: 0.6rem;
    background-image: url("https://raw.githubusercontent.com/MizAndhre/FAQ-accordion-card/2ff2a02d093554f14d0390a409e825669313a16e/images/icon-arrow-down.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 300ms ease-in-out;
  }
  
  .accordion__text {
    text-align: left;
    padding: 0.5rem 3rem 2.2rem 0.5rem;
    line-height: 1.5;
    color: var(--textDarkBlue);
  }
  
  /* JS Classes */
  .accordion__title.open {
    font-weight: 700;
    color: var(--textBlue);
  }
  
  .accordion__title.open::after {
    transform: rotate(180deg);
  }
  
  .accordion__collapse.collapse {
    display: none;
  }
  
  .accordion__collapse.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 1s ease;
  }
  
  .accordion__collapse.open {
    display: block;
  }
  
  /* DESKTOP STYLE */
  @media (min-width: 56em) {
    .card {
      position: relative;
      display: flex;
      padding: 6.1rem 9.4rem 8.4rem 0;
      margin: 0;
      background-image: url("https://raw.githubusercontent.com/MizAndhre/FAQ-accordion-card/2ff2a02d093554f14d0390a409e825669313a16e/images/bg-pattern-desktop.svg");
      background-size: 100%;
      /* background-position: -73rem center; */
      background-position: -53rem -28rem;
    }
  
    .card__box {
      display: block;
      position: absolute;
      z-index: 1;
      top: 57%;
      left: 0;
      transform: translateX(-50%) translateY(-50%);
    }
  
    .card__img,
    .card__text {
      flex: 1;
    }
  
    .card__img {
      display: flex;
      align-items: center;
      overflow: hidden;
      padding-right: 9.2rem;
    }
  
    .card__img-mobile {
      display: none;
    }
  
    .card__img-desktop {
      display: block;
      max-width: 47.2rem;
      transform: translateX(-8.4rem);
    }
  
    .card__text {
      margin-top: 0;
    }
  
    h1 {
      padding-bottom: 2.1rem;
      text-align: left;
    }
  
    .accordion__title {
      font-size: 1.5rem;
    }
  
    .accordion__text {
      line-height: 1.4;
      padding: 0.5rem 3rem 2rem 0.5rem;
    }
  }
  
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensure loader appears on top of other content */
}
.loader {
width: fit-content;
height: fit-content;
display: flex;
align-items: center;
justify-content: center;
}

.truckWrapper {
width: 200px;
height: 100px;
display: flex;
flex-direction: column;
position: relative;
align-items: center;
justify-content: flex-end;
overflow-x: hidden;
}
/* truck upper body */
.truckBody {
width: 130px;
height: fit-content;
margin-bottom: 6px;
animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
0% {
  transform: translateY(0px);
}
50% {
  transform: translateY(3px);
}
100% {
  transform: translateY(0px);
}
}
/* truck's tires */
.truckTires {
width: 130px;
height: fit-content;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 10px 0px 15px;
position: absolute;
bottom: 0;
}
.truckTires svg {
width: 24px;
}

.road {
width: 100%;
height: 1.5px;
background-color: #282828;
position: relative;
bottom: 0;
align-self: flex-end;
border-radius: 3px;
}
.road::before {
content: "";
position: absolute;
width: 20px;
height: 100%;
background-color: #282828;
right: -50%;
border-radius: 3px;
animation: roadAnimation 1.4s linear infinite;
border-left: 10px solid white;
}
.road::after {
content: "";
position: absolute;
width: 10px;
height: 100%;
background-color: #282828;
right: -65%;
border-radius: 3px;
animation: roadAnimation 1.4s linear infinite;
border-left: 4px solid white;
}

.lampPost {
position: absolute;
bottom: 0;
right: -90%;
height: 90px;
animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
0% {
  transform: translateX(0px);
}
100% {
  transform: translateX(-350px);
}
}



.button1{
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #ff9900 0%,#ffb950 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  margin: 10px auto;
}

.button1:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button1:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button1 span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.button1 svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.button1 .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.button1:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.button1:hover svg {
  transform: rotate(45deg);
}


.logout-link .logout-text {
  display: none;
  margin-left: 8px; 
}

.logout-link:hover .logout-text {
  display: inline;
}